* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.537)),
    url(../images/wallhaven-2em38y.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.about .contentt img {
  height: auto;
  width: 500px;
  max-width: 100%;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  margin-top: 40px;
}

.text {
  width: 550px;
  max-width: 100%;
  padding: 0 0.5rem;
}

.contentt {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  color: #d3ed5a;
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
  background-color: red;

  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text h5 {
  color: rgb(187, 163, 163);
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bolder;
}
.text p {
  color: #a4a3aa;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

button {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
  color: black;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: bold;
  transition: all;
}

button:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: 2px solid #999f7a;
  color: #948375;
  transition: 0.8s;
  cursor: pointer;
  background-image: none;
}

#about::after {
  width: 100%;
}

@media screen and (max-width: 1700px) {
  .about .contentt img {
    width: 450px;
  }
  .main {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .about {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .about .contentt img {
    margin-bottom: 35px;
  }

  .text h1 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
