* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  color: white;
}
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
#nav-placeholder {
  align-self: normal;
}
.contact {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.537)),
    url(../images/wallhaven-2em38y.jpg);
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
}

.content {
  width: 60%;
  margin-bottom: 2rem;
}
#contact::after {
  width: 100%;
}

.map {
  width: 900px;
  height: 300px;
}

.information {
  width: 70%;
  gap: 3rem;
  margin-bottom: calc(10vh - 40px);
}
.cont {
  margin-bottom: 12px;
  font-family: sans-serif;
}
.details {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.personal {
  gap: 1rem;
}

.left {
  gap: 1.5rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  background: rgb(212, 224, 229);
  border-radius: 50%;
  font-size: 1.5rem;
}

.text-title {
  color: #00bfff;
  margin-bottom: 0.3rem;
}

.fa {
  color: #000000;
}

.contact-form {
  justify-content: flex-start;
  gap: 1rem;
  width: 28%;
  height: 18.2rem;
  padding: 1.2rem;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #06669d 74%);
  border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  height: 2.2rem;
  background-color: rgb(207, 219, 232);
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
}
.contact-form textarea {
  height: 3.7rem;
  resize: none;
}

.contact-form button {
  background-color: #092764;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgba(220, 227, 226, 0.716);
}

/* links */
.socials {
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.social-link {
  color: inherit;
  padding: 3px;
  border-radius: 3px;
  /* background-color: #ffffff91; */
}

.social {
  font-size: 20px;
}

.social-link:hover > .social {
  color: #6e9c92;
}

@media only screen and (max-width: 1700px) {
  .map {
    width: 700px;
    height: 200px;
  }

  /* .information {
    margin-bottom: 10px;
  } */
  .cont {
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 1100px) {
  .map {
    width: 100%;
    height: 200px;
  }
  .details {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .personal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    text-align: center;
  }

  .contact-form {
    width: 50%;
  }
  .socials {
    padding: 10px;
  }
  .cont {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .contact {
    height: auto;
  }
  .map {
    width: 100%;
    height: 200px;
  }

  .contact-form {
    width: 90%;
  }
  .socials {
    padding: 10px;
  }
}
