.navbar {
  width: 85%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.logo {
  width: 4rem;
  cursor: pointer;
  background-color: rgba(41, 75, 105, 0);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
#myLinks a:hover {
  color: rgb(149, 180, 208);
}
li.active::after {
  width: 100%;
}

.burger {
  position: absolute;
  gap: 4px;
}
.line {
  width: 30px;
  height: 0;
  background-color: #bdd4e0;
  border-radius: 1px;
}

#myDiv {
  color: #009688;
}
#myLinks {
  display: none;
  list-style: none;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }

  .line {
    height: 4px;
  }
  .nav-ul {
    display: none;
  }
}
